table {border-collapse: collapse;
        width: 100%;}
td {border: 1px solid black;
    width: 5.55%;

    position: relative;
    }
.poids {
        position: absolute;
        font-size: 1vw;
        top: 0;
        right: 0;}
.elem { 
        font-size: 2.5vw;
        text-align: center;}
.numero {
        font-size: 1vw;
        position: absolute;
        bottom: 0;
        left: 0;
        }
.espace {border: none;}
.non_metaux {background: #ab91ff;}
.gaz_nobles {background: #91dfff;}
.metaux_alcalins {background: #ffc591;}
.metaux_alcalino_ferreux {background: #ffdf91;}
.metalloides {background: #92ff9f;}
.halogenes {background: #f991ff;}
.autres_metaux {background: #fff991;}
.metaux_de_transition {background: #ecff91;}
.elements_inconnus {background: #c8c8c8;}
.lanthanides {background: #d2ff91;}
.actinides {background: #b8ff91;}
#elem {height: 45em;}
#other_elem {   
                margin-top: 2vh;
                margin-right: auto;
                margin-left: auto;
                width: 80%;
                height: 15em;}
img {display: block;
    margin: auto;
    width:20%;}
#elem_small {display: none;}
#other_elem_small {display: none;}
.blank {height: 0;}
@media all and (max-width: 640px)
{
    #elem {display: none;}
    #other_elem {display: none;}
    img {width: 40%;}
    #elem_small {display: table; height:25em;}
    #other_elem_small {display: table; margin-top: 2vh;
        margin-right: auto;
        margin-left: auto;
        height: 15em;
        width: 50%;}
        td {width: 6%; }
    .poids {font-size: 1.8vw;}
    .elem {font-size: 5vw;}
    .numero {font-size: 1.8vw;}
}